@{
    ViewData["Title"] = "Home Page";
}

<h1 class="text-center">Welcome to My Site!</h1>
<h2>This is the home page. Here are some pictures of some games I like:</h2>

<div class="imgDiv">
    <img src="~/assets/GoatSim.jpg" width="400px" /> 
    <img src="~/assets/Hunt.jpg" width="400px" />
    <img src="~/assets/satifactory.jpg" width="400px" />
    <img src="~/assets/SPSOT.jpg" width="400px" />
    <img src="~/assets/gothamknights.jfif" width="400px" />
</div>