@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Share Space</h1>
	<img src="~/images/hotpot.png" height="20%" width="20%"/>
    <p>Welcome to the site!</p>
    <p>It seems that you are not logged in. Would you like to register? <a class="link" asp-area="Identity" asp-page="/Account/Register">Register</a>.</p>
</div>
